@model DD4T.WebApplication.Models.ContentQuery
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<h1>This is ContentQuery</h1>
<h3>@Model.Headline</h3>