@model DD4T.WebApplication.Models.GeneralPage
@*@addTagHelper "DD4T.Mvc.ComponentPresentationTagHelper, DD4T.Mvc"*@
@{
    // ViewBag.Title = "Home Page";
}
<html>
<head>
    <title>Page</title>
</head>
<body>
    <h2>TridionPageController</h2>
    @*<h3>@Model.Title</h3>
    Found @Model.ComponentPresentations.Count Component presentations... not showing them right now... don't feel like it*@
    
    @foreach(var article in Model.Article)
    {
        
        @Component.Invoke("Article", article)
    }


    @foreach(var prod in Model.Product)
    {
        @Component.Invoke("Product", prod)
    }
</body>
</html>