@model DD4T.ContentModel.IPage
@*@addTagHelper "DD4T.Mvc.ComponentPresentationTagHelper, DD4T.Mvc"*@
@{
    // ViewBag.Title = "Home Page";
}
<html>
<head>
    <title>Page</title>
</head>
<body>
    <h2>TridionPageController</h2>
    <h3>@Model.Title</h3>
    Found @Model.ComponentPresentations.Count Component presentations... not showing them right now... don't feel like it

    @foreach(var cp in Model.ComponentPresentations)
    {
        @*@Component.InvokeAsync("ComponentPresentation", cp)*@
        @await Component.InvokeAsync("ComponentPresentation", cp)
    }
</body>
</html>