
@{
    // ViewBag.Title = "Home Page";
}
<html>
<head>
    <title>Page</title>
</head>
<body>
    <h2>TridionPageController</h2>
    <h3>@Model.Title</h3>
    @*Found @Model.ComponentPresentations.Count Component presentations... not showing them right now... don't feel like it*@
</body>
</html>