@model DD4T.Mvc.Models.HomePage
<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
    <h2>TridionPageController</h2>
    Found ... Component presentations... not showing them right now... don't feel like it
</body>
</html>